<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="style.css"/>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>Personal Health Assistant</title>
   </head>
   <body>
      <header class="main-header">
        <h2>Hello, this is your <span class="text-primary">Personal Health Assistant</span>. Talk with him about your health.</h2>
      </header>
      <main>
         <section>
            <section class="msger">
               <section class="msger-header">
                  <div class="msger-header-title">
                     <i class="fas fa-comment-alt"></i> <strong>Personal Health Assistant</strong>
                  </div>
                  <div class="msger-header-options">
                     <span><i class="fas fa-cog"></i></span>
                  </div>
               </section>
               <main class="msger-chat">
                  <div class="msg left-msg">
                     <div
                        class="msg-img"
                        style="background-image: url(ha-icon.png)"
                        ></div>
                     <div class="msg-bubble">
                        <div class="msg-info">
                           <div class="msg-info-name">Personal Health Assistant</div>
                           <div class="msg-info-time" id="first-time-slot"></div>
                        </div>
                        <div class="msg-text">
                           Hi, welcome to chat! I'm your Personal Helath Assistant. Go ahead and send me a message. 😄
                        </div>
                     </div>
                  </div>
               </main>
               <form class="msger-inputarea">
                  <input type="text" class="msger-input" placeholder="Enter your message...">
                  <button type="submit" class="msger-send-btn btn-primary">Send</button>
               </form>
            </section>
         </section>
      </main>
      <!-- Optional JavaScript -->
      <script src="chat.js"></script>
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
</html>
